<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voltagelab.namazshikkhaapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.EleventhContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.EleventhButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.EleventhButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.TwelveContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.TwelveButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.TwelveButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.DrawerButton.BoiporichitiActivity"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.TenthContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.NinthButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.TenthButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.NinthContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.NinthButton"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.NinthButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.EighthContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.EighthButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.EighthButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.SeventhContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.SeventhButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.SeventhButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.SixthContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.SixthButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.SixthButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.FifthContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.FifthButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.FifthButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.FourthContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.FourthButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.FourthButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"
            />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.ThirdContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.ThirdButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.ThirdButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.SecondContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.SecondButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.SecondButton"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity
            android:name="com.voltagelab.namazshikkhaapps.ContentReader.ContentReader"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.Activity.FirstButton"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.voltagelab.namazshikkhaapps.Activity.FirstButton"
            android:theme="@style/AppThemeActionBar"
            android:parentActivityName="com.voltagelab.namazshikkhaapps.MainActivity"
            />

        <activity android:name="com.voltagelab.namazshikkhaapps.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>