<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voltagelab.namazshikkhaapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SettingsActivity"
            android:theme="@style/Theme.DarkMode"
            android:label=""
            android:exported="false" />
        <activity
            android:name=".Activity.NintyNineNames.NintyNineNames"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.Tasbih.TasbihActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.AlQuran.ayahtype.AlQuranActivity"
            android:theme="@style/Theme.DarkMode"
            android:parentActivityName=".Activity.AlQuran.ayahword.AyahWordActivity" />
        <activity
            android:name=".Activity.SadkaiyeJariya"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.EleventhContentReader"
            android:parentActivityName=".Activity.namazshikkha.DoaActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.AlQuran.SurahActivity"
            android:parentActivityName=".Activity.namazshikkha.DoaActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.AlQuran.ayahword.AyahWordActivity"
            android:parentActivityName=".Activity.AlQuran.SurahActivity" />
        <activity
            android:name=".Activity.namazshikkha.DoaActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.TwelveContentReader"
            android:parentActivityName=".Activity.namazshikkha.ChitrosohoNamazActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ChitrosohoNamazActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".DrawerButton.BoiporichitiActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.TenthContentReader"
            android:parentActivityName=".Activity.namazshikkha.JanajarNamazActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.SurahActivityNamazShikkha"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.NinthContentReader"
            android:parentActivityName=".Activity.namazshikkha.JanajarNamazActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.JanajarNamazActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.EighthContentReader"
            android:parentActivityName=".Activity.namazshikkha.TahajjodTaraviActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.TahajjodTaraviActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.SeventhContentReader"
            android:parentActivityName=".Activity.namazshikkha.EidNamazActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.EidNamazActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.SixthContentReader"
            android:parentActivityName=".Activity.namazshikkha.NamazAdayerNiomActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.NamazAdayerNiomActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.FifthContentReader"
            android:parentActivityName=".Activity.namazshikkha.NamazerMasalActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.NamazerMasalActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.FourthContentReader"
            android:parentActivityName=".Activity.namazshikkha.NamazerOwaktoActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.NamazerOwaktoActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.ThirdContentReader"
            android:parentActivityName=".Activity.namazshikkha.TayamommumActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.TayamommumActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.SecondContentReader"
            android:parentActivityName=".Activity.namazshikkha.GosolActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.GosolActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.ContentReader.ContentReader"
            android:parentActivityName=".Activity.namazshikkha.OjuActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".Activity.namazshikkha.OjuActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DarkMode" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DarkMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>